

.search-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

input {
    outline: none;
    border: none;
    font-size: 24px;
    text-align: center;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}